@charset "UTF-8";

@media screen and (max-width:1024px) {
    #footer .logo img {
        width: 150px;
    }

    #header {
        overflow: hidden
    }

    #header #nav {
        display: none;
    }

    #header #navi {
        display: block;
        position: fixed;
        top: 0%;
        right: -100%;
        background: #fff;
        bottom: 0px;
        overflow-y: auto;
        overflow-x: hidden;
        transition: all 0.5s;
        width: 37%;
        font-weight: 600;
    }

    #header #navi.on {
        right: 0px;
    }

    #header .top_menu {
        display: none;
    }

    #header #navi .depth1>li {
        float: none;
        position: relative;
    }

    #header #navi .depth1>li:nth-child(1) {
        background: #0E4C9E;
        padding: 18px 0;
    }

    /* #header #navi .depth1 > li:nth-child(1) > a{color:#fff; font-size: 1.6vw;} */
    #header #navi .depth1>li>a {
        padding: 20px 20px;
        display: block;
        text-align: center;
        color: #0E4C9E;
        border-bottom: 2px solid #EC7022;
    }

    #header #navi .depth1>li button {
        border: 2px solid #fff;
        color: #fff;
        margin-left: 38%;
        border-radius: 5px;
        padding: 5px;
        cursor: pointer;
    }

    #header #navi .depth1>li .depth2 {
        position: static;
        top: 100%;
        left: 0;
        background: #0E4C9E;
        font-size: 14px;
        color: #fff;
        width: 100%;
        text-align: center;
        display: none;
    }

    #header #navi .depth2>li>a {
        padding: 18px 0;
        display: block;
        border-bottom: 2px solid #EC7022;
        transition: all 0.5s;
    }

    #header .opennav {
        display: block;
        font-size: 30px;
        color: #EC7022;
    }

    #header .opennav.on {
        position: fixed;
        right: 39%;
        top: 25px;
    }

    #footer .article5 .text_5 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    #footer .article5 .text_5 h4 {
        z-index: 9;
        padding-bottom: 20px;
        font-size: 25px;
    }

    #footer .logo img {
        width: 120px;
    }

    #footer .footer_text li {
        display: block;
        padding-bottom: 2%;
    }

    #footer .footer_info {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    /* #footer .footer_info .footer_img{ text-align: center; width:230px;  } */
    #footer .footer_info .footer_img img {
        width: 100%;
        transform: translateX(10%);
    }


}

@media screen and (max-width:768px) {

    #header .h1 .pc {
        opacity: 0;
    }

    #header .h1 .mobile {
        opacity: 1;
        transform: translateY(6%);
    }

    #header .h1 .mobile img {
        width: 50%;
        transform: translateY(10%);
        visibility: visible;
        image-rendering: -webkit-optimize-contrast;
    }

    #footer .logo_line .logo {
        padding: 20px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #footer .logo_line .logo span {
        width: 31%;
        text-align: center;
    }

    #footer .logo img {
        visibility: visible;
        image-rendering: -webkit-optimize-contrast;
        max-width: 100%;
        height: 33px;
        margin: 10px 2%;

    }

}

@media screen and (max-width:412px) {
    #header .h1 .mobile img {
        width: 80%
    }
}